*{
    margin: 0;
    padding: 0;
}
body {
    background: #efefef;
    font-family: sans-serif;
}
.title-box{
    text-align: center;
    margin: 100px auto 50px;
}
.title-box p{
    margin-top: 10px;
    line-height: 24px;
}
.profile{
    width: 250px;
    height: 280px;
    background: #fff;
    border-radius: 4px;
    margin-bottom: 30px;
    box-shadow: 0 10px 10px 10px rgba(115, 193, 255, 0.1);
    padding: 20px;
    position: relative;
    transition: .5s;
}
.profile img{
    width: 90px;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 4px;
    transition: .5s;
}
.profile img:hover{
    width: 200px;
}
.profile h4{
    font-size: 12px;
    font-weight: bolder;
    margin-top: 25px;
    margin-bottom: 5px;
    color: #2196f3;
}
small{
    color: #555;

}
.social-media{
    background: #2196f3;
    margin: 60px auto 20px;
    text-align: center;
    border-radius: 3px;
}
.social-media .bx{
    margin: 5px;
    color: white;
    cursor: pointer;
}
.profile p{
    text-align: center;
    line-height: 24px;
    color: #555;
}
.team-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}
.profile:hover{
    background: #2196f3;
}
.profile:hover h4{
    color: #fff;
}
.profile:hover p{
    color: #efefef;
}
.profile:hover small{
    color: #efefef;
}
.profile:hover .social-media{
    background: #fff;
}
.profile:hover .social-media .bx{
    color: #2196f3;
}